-e svn+http://code.djangoproject.com/svn/django/trunk#egg=django
#-e git+http://github.com/skyl/feincms.git#egg=feincms
-e git+git@github.com:skyl/feincms.git#egg=feincms
-e git+http://github.com/matthiask/django-mptt.git#egg=mptt
-e git+http://github.com/brosner/django-tagging.git#egg=tagging
-e git+http://github.com/skyl/django-tagging-ext.git#egg=django-tagging-ext
django-extensions
