<div id="frontpagenews">
<h1>Front page news</h1>
<div id="featured-news">
{% for entry in featured %}
    {% if forloop.first %}
    <div id="latest-featured-article">
        Latest featured.  With picture and everything.
    </div>
    {% else %}
    <div class="entry">
        {% ifchanged %}<div class="date">{{ entry.published_date|date:"d.m.Y" }}</div>{% endifchanged %}
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
    </div>
    {% endif %}
{% endfor %}
</div>

<div id="news-most-popular">
{% for entry in popular %}
    <div class="entry">
        {% ifchanged %}<div class="date">{{ entry.published_date|date:"d.m.Y" }}</div>{% endifchanged %}
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
    </div>
{% endfor %}
</div>

<div id="news-latest">
{% for entry in latest %}
    <div class="entry">
        {% ifchanged %}<div class="date">{{ entry.published_date|date:"d.m.Y" }}</div>{% endifchanged %}
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
    </div>
{% endfor %}
</div>
</div>
